/* CSS Document */
/* CSS Document */
*{ 
	padding:0;
	margin:0;
}
.wrapper{
	width:1000px;
	height:auto;
	border:1px solid #000;
	margin:auto;
}
.header{
	width:100%;
	height:80px;
	border:1px solid #000;
	text-align:center;
	font-size:25px;
	line-height:120px;
	font-weight:bold;
	color:red;
}
.menu{
	width:100%;
	height:30px;
	border:1px solid #000;
	background:#CCC;
}
.menu ul{
	width:100%;
	height:30px;
	list-style:none;
}
.menu ul li{
	float:left;
	margin-left:20px;
}
.menu ul li a{
	text-decoration:none;
	color:blue;
	line-height:30px;
}
.menu ul li a:hover{
	text-decoration:underline;
}
.content{
	width:100%;
	height:auto;
	border:1px solid #000;
}
.content .left{
	width:300px;
	height:auto;
	float:left;
}
.content .right{
	width:690px;
	height:auto;
	border:1px solid #000;
	float:right;
}
.content .right p{
	width:100%;
	height:30px;
	background:#0FF;
	line-height:30px;
	color:#F00;
	font-size:22px;
	text-align:center;
	font-weight:bold;
}
.content .right .sp{
	width:100%;
	height:auto;
}
.content .right .sp ul{
	list-style:none;
}
.content .right .sp ul li{
	width:170px;
	height:270px;
	border:1px solid #000;
	margin:20px 0px 20px 20px;
	background:#CCC;
	border-radius:5px 5px;
	float:left;
}
.content .right .sp ul li a{
	text-decoration:none;
}
.content .right .sp ul li span{
	display:block;
	text-align:center;
	margin-top:10px;
}
.content .right .sp ul li a span.span1{
	font-size:20px;
	color:blue;
}
.content .right .sp ul li a span.span1:hover{
	text-transform:uppercase;
}
.content .right .sp ul li span.span2{
	color:#000;
}
.content .right .sp ul li a span.span3{
	color:red;
}
.content .right .sp ul li a span.span3:hover{
	text-decoration:underline;
}
.footer{
	width:100%;
	height:80px;
	border:1px solid #000;
	text-align:center;
	font-size:30px;
	color:#000;
	font-weight:bold;
	line-height:80px;
}
.clear{
	clear:both;
}
	



